
<div id="contains" >

    <form  [formGroup]="playAddForm"  (ngSubmit)="onSubmit()">
        <div id="contained">
            

               
            <h2>Nom Evénement: <input type="text" id="changable" formControlName="intitule" ></h2>
                <div class="erreurAffiche" *ngIf="intitule?.invalid&&intitule?.touched">
                    Nom Obligatoire
                </div>
            <h2>ID: <input type="number" id="id" formControlName="id" ></h2>
                <div class="erreurAffiche" *ngIf="Id?.invalid&&Id?.touched">
                    ID Obligatoire
                </div>

            <p>Lien Photo: <input type="text" formControlName="photo" ></p>
            <p>Obligatoire: 
                <input type="radio" formControlName="Obligatoire" value="true" name="Obligatoire" id="ouiOb">  Oui
                <input type="radio" formControlName="Obligatoire" value="false" name="Obligatoire" id="nonOb">  Non
            </p>
            
            <p>Lieu: <input type="text" formControlName="lieu" ></p>
            <div class="erreurAffiche" *ngIf="lieu?.invalid&&lieu?.touched">
                Lieu Obligatoire
            </div>
            <p>Date: <input type="date" id="date" formControlName="date" ></p>
            <div class="erreurAffiche" *ngIf="date?.invalid&&date?.touched">
                Date Obligatoire
            </div>
            <button type="submit" [disabled]="playAddForm.invalid">Ajouter</button>

        </div>
        </form>
        


    </div>