#contains{
    width: 60%;
    margin: 10% 20%;
}
#contained{
    margin: 10% 0%;
}
#title{
    animation: fadein 1s forwards;
}

@keyframes fadein {
    0%{transform:translateY(50px);opacity: 0;}
    100%{transform:translateY(0px);opacity: 1;}
}