
<ng-container *ngIf="Play">
    <div id="contains" >

        <form  [formGroup]="playEditForm"  (ngSubmit)="onSubmit();onReset()">
            <div id="contained">
            <h2>
                Pièce: <input type="text" id="changable" formControlName="intitule" >
                ID: {{Play.id|id}}

            </h2>
            </div>
            <img [src]="Play.photo" alt="photoEvent">
            <p>Théâtre: <input type="text" formControlName="lieu" ></p>
            <p>Date: <input type="text" id="date" formControlName="date" ></p>
            <button type="submit">Save Changes</button>
        </form>
            <hr>
            <h3>Commentaires</h3>
            <div id="commentSection">
                <ng-container *ngFor="let item of Play.commentaires">
                    <p><span id="nom">{{item.nom}}</span> - {{item.date|date}}
                    <button (click)="onDelete()" >Supprimer message</button></p>
                    <p>{{item.message}}</p>
                    
                </ng-container>
                
            </div>

            
        


    </div>
</ng-container>