
<ng-container *ngIf="Play">
    <div id="contains">
        <div id="contained">
        <h2>Pièce: {{Play.intitule}}{{Play.id|id}}</h2>
        </div>
        <img [src]="Play.photo" alt="photoEvent">
        <p>Lieu: {{Play.lieu}}</p>
        <p>Date: {{Play.date|date}}</p>
        <button [ngClass]="join?'btn btn-danger':'btn btn-primary'" (click)="onJoindre()">{{Etat}}</button>
        <p>{{nbPersonnes}} participants pour cette Pièce</p>

        <hr>
        <h3>Commentaires</h3>
        <div id="commentSection">
            <ng-container *ngFor="let item of Play.commentaires">
                <p><span id="nom">{{item.nom}}</span> - {{item.date|date}}</p>
                <p>{{item.message}}</p>
            </ng-container>
            
        </div>
        <input type="text" #nomComment placeholder="Nom.."> <br>
        <textarea #messageComment placeholder="Message.." cols="30" rows="3"></textarea>
        <button (click)="onAjoute(nomComment.value, messageComment.value)">Ajouter</button>
    </div>
</ng-container>