
<ng-container *ngIf="Play">
    <div id="contains">
        <div id="contained">
        <h2>Pièce: {{Play.intitule}}{{Play.id|id}}</h2>
        </div>
        <img [src]="Play.photo" alt="photoEvent">
        <p>Théâtre: {{Play.lieu}}</p>
        <p>Date: {{Play.date|date}}</p>
        <input type="number" min="1" max="10" (change)="onUpdatePrice(nombreTickets.value)" #nombreTickets [value]="nbrTickets" id="nombreTickets">
        <button (click)="onAcheter()">{{textBoutonAchat}} {{prixTotal|number:'.3'|price}}</button>
        <button (click)="OnAnnuler()" *ngIf="acheter">Annuler Achat</button>
        <p>Vous avez {{nbrTicketsAchete}} Ticket(s) pour cette Pièce</p>

        <hr>
        <h3>Commentaires</h3>
        <div id="commentSection">
            <ng-container *ngFor="let item of Play.commentaires">
                <p><span id="nom">{{item.nom}}</span> - {{item.date|date}}</p>
                <p>{{item.message}}</p>
            </ng-container>
            
        </div>
        <input type="text" #nomComment placeholder="Nom.."> <br>
        <textarea #messageComment placeholder="Message.." cols="30" rows="3"></textarea>
        <button (click)="onAjoute(nomComment.value, messageComment.value)">Ajouter</button>
    </div>
</ng-container>