.leftside, .rightside{
    height: 100vh;
    width: 100%;

}
a{
    color: white;
    font-size: 50px;
    text-decoration: none;
}

.leftside{
    background-image: url(src\assets\happy.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
}

.leftside:hover{
    animation: card1 2s forwards;
}

.rightside{
    background-image: url(src\assets\sadge.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
}

.rightside:hover{
    animation: card2 2s forwards;
}


@keyframes card1 {
    0% {}

    50% {filter: brightness(90%);
        background-image: url(src\assets\happy.jpg) ;
        transform: scale(0.6) rotate(-10deg);
    }
    
    60% { background-image: url(src\assets\BL.jpg) ; }

    75% {
        filter: brightness(90%);
        background-image: url(src\assets\sadge.jpg) ;
        transform: scale(0.6) rotate(-15deg);
    }
    
    90% { background-image: url(src\assets\BL.jpg) ; }

    100% {filter: brightness(90%);
        background-image: url(src\assets\happy.jpg) ;
        transform: scale(0.6) rotate(-20deg);
    }
  }

  @keyframes card2 {
    0% { }
    50% {filter: brightness(90%);
        background-image: url(src\assets\sadge.jpg) ;
        transform: scale(0.6) rotate(10deg);
    }
    60% { background-image: url(src\assets\BL.jpg) ; }

    75% {
        filter: brightness(90%);
        background-image: url(src\assets\happy.jpg) ;
        transform: scale(0.6) rotate(15deg);
    }
    90% { background-image: url(src\assets\BL.jpg) ; }
    100% {filter: brightness(90%);
        background-image: url(src\assets\sadge.jpg) ;
        transform: scale(0.6) rotate(20deg);
    }
  }

#main{
    background-image: url(src\assets\BL.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: cursive ;
}